{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Agence Immo</h1>

        {% for properties in property %}
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{{ path('property.show',{id: properties.id, slug: properties.slug}) }}">{{properties.title}}</a>
                        </h5>
                        <p class="card-text">{{ properties.city }} - {{ properties.postalCode }}  </p>
                        <div class="text-primary">{{properties.price | number_format(0, '', ' ' ) }} €</div>
                    </div>
                </div>
            </div>
            
        {% endfor %}
    </div>


{% endblock %}
