{% extends 'base.html.twig' %}

{% block title %}Nos Biens{% endblock %}

{% block body %}
<div class="container">
    <h1>Les Biens</h1>
    <div class="row">
   {% for properties in property %}
        
        <div class="card mb-3 w-100">
            <div class="row no-gutters">
              <div class="col-md-4"><a href="{{ path('property.show',{id: properties.id, slug: properties.slug}) }}}">
                <img src="..." class="card-img" alt="...">
              </a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ path('property.show',{id: properties.id, slug: properties.slug}) }}">{{properties.title}}</a></h5>
                  <p class="card-text">{{ properties.city }} - {{ properties.postalCode }}  </p>
                  <div class="text-primary">{{properties.price | number_format(0, '', ' ' ) }} €</div>
                </div>
              </div>
            </div>
          </div>

    {% endfor %} 
    </div>
</div>
{% endblock %}
